<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">My Movie App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/watchlist" target="_blank">Watchlist</a>
          </li>
        </ul>
        <!-- Conditionally render buttons based on login state -->
        <div *ngIf="isLoggedIn; else loggedOut" class="user-info">
          <span class="navbar-text welcome-message">Welcome, {{ email }}!</span>
          <button class="btn btn-outline-light me-2 logout-btn" (click)="logout()">Logout</button>
        </div>

        <!-- Template for when user is not logged in -->
        <ng-template #loggedOut>
          <button class="btn btn-outline-light me-2" (click)="openLogin()">Login</button>
          <button class="btn btn-light" (click)="openRegister()">Register</button>
        </ng-template>
      </div>
    </div>
  </nav>
</header>

<!-- Conditional rendering of Login Modal -->
<div class="modal" *ngIf="showLogin">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <app-login></app-login>
  </div>
</div>

<!-- Conditional rendering of Register Modal -->
<div class="modal" *ngIf="showRegister">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <app-register></app-register>
  </div>
</div>

<div class="container-searchbar">
  <h1>Welcome to the Movie & TV Series Search</h1>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="title"
      placeholder="Enter movie or TV series title"
    />
    <select [(ngModel)]="searchType">
      <option value="movie">Movie</option>
      <option value="tv-series">TV Series</option>
    </select>
    <button (click)="onSearchSubmit()">Search</button>
  </div>
</div>

<!-- Main Content -->
<main class="container">
  <router-outlet></router-outlet>
  <h1>Trending Movies & TV Series</h1>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <div *ngFor="let movie of (trendingMovies$ | async)?.results" class="col">
      <div class="card">
        <img
          *ngIf="movie.poster_path"
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          class="card-img-top"
          alt="{{ movie.title || movie.name }} Poster"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title || movie.name }}</h5>
          <p class="card-text">{{ movie.overview | slice: 0:120 }}...</p>
          <p class="media-type">
            {{ movie.media_type === 'movie' ? 'Movie' : 'TV Show' }}
          </p>
          <button
            *ngIf="isLoggedIn"
            class="btn btn-primary mt-2"
            (click)="addToWatchlist(movie)"
          >
            Add to Watchlist
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>
      Authors: Alex Quilis Vila, Carolina Romero Delgado, Livia Gamero Hammerer
    </p>
    <p>Course: Node & React Development (CCC1 group)</p>
    <p>
      Acknowledgement: Data and images provided by <strong>TMDB</strong>
    </p>
    <div class="tmdb-logo">
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg" alt="TMDB logo" />
    </div>
  </div>
</footer>
