/* Estilos de las tarjetas */
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido se distribuya */
  height: 100%;
}

.card:hover {
  transform: translateY(-10px); /* Efecto hover para darle dinamismo */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  width: 100%;
  height: 180px; /* Consistencia en la altura de la imagen */
  object-fit: contain; /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
}

.card-body {
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuir el contenido de manera uniforme */
  height: 100%;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
  line-height: 1.6;
  margin-bottom: 10px;
}

.media-type {
  font-size: 0.9rem;
  font-weight: 500;
  color: #495057;
}

.card-img-top.d-flex {
  height: 180px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-img-top.d-flex span {
  color: #6c757d;
}

/* Estilos para el botón de "Mostrar más" */
.text-center {
  margin-top: 20px;
}

/* Pagination buttons */
.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 8px 16px;  /* Smaller padding */
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;  /* Rounded buttons */
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-flex button {
  width: 40%;  /* Smaller width for buttons */
}

/* Estilos responsivos para garantizar que las tarjetas se alineen bien en pantallas pequeñas */
@media (max-width: 767px) {
  .card {
    width: 100%; /* Las tarjetas deben ocupar el ancho completo en pantallas pequeñas */
  }

  .card-img-top {
    height: 150px; /* Ajustamos la altura de la imagen en pantallas pequeñas */
  }
}

/* Espaciado entre el encabezado y la sección de búsqueda */
.search-container {
  margin-bottom: 50px; /* Adds spacing between the app header and search results */
}
