<div class="container mt-2 search-container">
  <div class="row d-flex justify-content-center flex-wrap">
    <div *ngFor="let tvSeries of paginatedResults" class="col-md-4 mb-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img
          *ngIf="tvSeries.poster_path; else noImage"
          src="https://image.tmdb.org/t/p/w500{{ tvSeries.poster_path }}"
          class="card-img-top"
          alt="{{ tvSeries.name }}">

        <ng-template #noImage>
          <div class="card-img-top d-flex justify-content-center align-items-center" style="height: 180px; background-color: #f1f1f1;">
            <span class="text-muted">No Image Available</span>
          </div>
        </ng-template>

        <div class="card-body">
          <h5 class="card-title">{{ tvSeries.name }}</h5>

          <p class="card-text">
            {{ tvSeries.overview ? tvSeries.overview : 'No overview available' }}
          </p>

          <p class="card-text">
            <small class="text-muted">
              First Air Date: {{ tvSeries.first_air_date ? tvSeries.first_air_date : 'Not Available' }}
            </small>
          </p>

          <button
            *ngIf="isLoggedIn"
            class="btn btn-primary mt-2 add-to-watchlist-btn"
            (click)="addToWatchlist(tvSeries)"
          >
            Add to Watchlist
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-between mt-4">
    <button
      class="btn btn-primary"
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 1">
      Previous Page
    </button>

    <button
      class="btn btn-primary"
      (click)="goToNextPage()"
      [disabled]="currentPage * resultsPerPage >= results.length">
      Next Page
    </button>
  </div>
</div>
